.form-field {
  display: flex;
  flex-direction: column;
}

.form-field > label {
  margin-bottom: .25rem;

  text-indent: 1px;

  color: $color-text;
}

.form-field > input {
  height: 2.75rem;

  transition: .2s linear border-color;
  text-indent: 1rem;

  border: 1px solid $color-input-border;
  box-shadow: inset 0 3px 3px rgba(0, 0, 0, .05);

  &:focus {
    border: 1px solid $color-negative;
  }
}

.form-field > input:valid {
  border: 1px solid $color-positive;
}

.form-field > input:invalid,
.form-field > input.-invalid {
  border: 1px solid $color-negative;
}

.form-field > input.-empty {
  border: 1px solid $color-input-border;
}

.form-field + .form-field {
  margin-top: 1.5rem;
}
