.password-progress {
  display: flex;
  flex-wrap: wrap;

  margin-top: .5rem;
}

.password-progress > ul > li {
  display: flex;
  align-items: center;

  color: $color-text;

  &::before {
    display: block;
    flex: 0 0 auto;

    width: .625rem;
    height: .625rem;
    margin-right: .5rem;

    content: '';
    transition: .2s linear background-color;

    border-radius: 50%;
    background-color: $color-neutral;
  }
}

.password-progress > ul > li.-fail {
  &::before {
    background-color: $color-negative;
  }
}

.password-progress > ul > li.-pass {
  &::before {
    background-color: $color-positive;
  }
}

.password-progress > ul > li + li {
  margin-top: .5rem;
}

.password-progress > .bar {
  flex: 1 0 auto;

  height: .5rem;

  transition: .2s linear background-color;

  border-radius: 1rem;
  background-color: $color-neutral;
}

.password-progress > .bar.-lowscore {
  background-color: $color-negative;
}

.password-progress > .bar.-mediumscore {
  background-color: $color-warning;
}

.password-progress > .bar.-highscore {
  background-color: $color-positive;
}

.password-progress > .bar + .bar {
  margin-left: .5rem;
}

.password-progress > ul {
  width: 100%;
  margin-top: 1rem;
}
