.signup-card {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 32rem;
  padding: 2rem 1.5rem;

  background: #FFF;

  @include bp-smallup {
    font-size: 16px;

    padding: 3rem 4.375rem;
  }
}

.signup-card > form > h1 {
  font-size: 1.375rem;
  font-weight: 500;

  margin-bottom: 2rem;

  text-align: center;
}

.signup-card > svg {
  align-self: center;

  margin-top: .75rem;
  margin-bottom: 1.5rem;
}

.signup-card > .success {
  visibility: hidden;
  overflow: hidden;

  height: 0;

  opacity: 0;
}

.signup-card > form > .app-button {
  width: 100%;
  margin-top: 2rem;

  color: #FFF;
  background-color: $color-positive;
}
