.signup-card {
  display: flex;
  flex-direction: column;

  width: 100%;
  max-width: 32rem;
  padding: 2rem 1.5rem;

  border: 3px solid $color-card-border;
  background: #FFF;

  @include bp-smallup {
    font-size: 16px;

    padding: 3rem 4.375rem;
  }
}

.signup-card > form > h1 {
  font-size: 1.375rem;
  font-weight: 500;

  margin-bottom: 2rem;

  text-align: center;
}

.signup-card > svg {
  align-self: center;

  margin-top: .75rem;
  margin-bottom: 1.5rem;
}

.signup-card > .success {
  display: flex;
  visibility: hidden;
  overflow: hidden;
  align-items: center;
  flex-direction: column;

  height: 0;

  opacity: 0;
}

.signup-card > .success.-show {
  visibility: visible;
  overflow: auto;

  height: auto;
  margin-top: 4.25rem;
  margin-bottom: 3.5rem;

  opacity: 1;
}

.signup-card > .success > * + * {
  margin-top: 1rem;
}

.signup-card > .success > p {
  line-height: 1.6;

  max-width: 25ch;

  text-align: center;
}

.signup-card > form > .app-button {
  width: 100%;
  margin-top: 2rem;
}
