// Set typography variables

$font-family-main: 'Roboto', Helvetica, sans-serif;

$font-size-mega: 2.4rem;
$font-size-kilo: 1.7rem;
$font-size-hecto: 1.4rem;
$font-size-deca: 1.2rem;

$font-size-base: 1rem;

$font-size-deci: 0.9rem;
$font-size-centi: 0.8rem;
$font-size-mili: 0.725rem;
