// Define styles for default pure HTML elements

* {
  // Using some form of universal selector reset, knowing every component in 
  // this project is custom made for it. We do not expect side effects from this
  // approach.
  font-family: inherit;
  font-size: inherit;
  font-weight: 400;

  box-sizing: border-box;
  margin: 0;
  padding: 0;

  list-style: none;

  text-decoration: none;

  color: inherit;
  border: none;

  appearance: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  &::before,
  &::after {
    box-sizing: inherit;
  }

  &:focus {
    outline: none;
  }
}

html {
  font-family: $font-family-main;
  font-weight: 400;

  box-sizing: border-box;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;

  min-height: 100%;

  background: $color-background;
}

main {
  position: relative;

  display: flex;
  align-items: center;
  flex-direction: column;

  height: 100%;
  padding: 1rem;
}
